<!-- Include Head -->
<%- include('./partials/header.ejs') %>

	<body>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">

				<!-- Formulario Inicio de sesion -->
				<h2>			  
					<div id="contenedor">
						<div id="central">
							<div id="login">
								<div class="titulo">
									Bienvenido
								</div>
								<form method="post" action="/login" id="loginform">
									<input type="text" for="nombre" name="usuario" placeholder="Usuario">
									
									<input type="password" for="contraseña" placeholder="Contraseña" name="password">
									
									<button type="submit" title="Ingresar" name="Ingresar">Ingresar</button>

								</form>
								<div style="display: flex; flex-direction: row;">
								<input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordarUsuario" style="width: 20px; height: 20px; margin-left: 0%; margin-right: 1%; ">
								<label class="form-check-label" for="exampleCheck1" name="recordarUsuario" style="margin-top: 0.8%;">Recordarme</label>
								</div>
								
								<div class="pie-form">
									<a href="#">¿Olvidaste tu contraseña?</a>
									<a href="register">¿No tienes Cuenta? Registrate</a>
								</div>
							</div>
							<div class="inferior">
								<a href="/">Volver</a>
							</div>
						</div>
					</div>
				</h2>
				<!-- Formulario Inicio de sesion -->

				<!-- footer -->
				<%- include('./partials/footer.ejs') %> 
				<!-- /footer -->
			</div>
		</div>
	</body>
</html>