<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/header.ejs') %> 

<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="get" action="/products/product-add" id="loginform">
					<input  type="text" name="Nombre del producto" placeholder="Nombre del producto">

					<input type="text" name="Descripción" placeholder="Descripción">

					<input type="number" name="fecha" placeholder="Fecha de Carga">

					<input type="file" name="Imagen" placeholder="Imagen">

				</form>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>