<!-- Include Head -->
<%- include('./partials/header.ejs') %> 

	<body>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<!-- Formulario para agregar productos -->
					<h2>
						<div id="contenedor" style="width: 950px;">
							<div id="central">
								<div id="login" style="padding: 30px 45px; margin-top: 9%;">
									<div class="titulo">
										Agregar productos
									</div>
									<form method="post" action="/products/agregarProducto" id="loginform" enctype="multipart/form-data">
										<input  type="text" name="nombre" placeholder="Nombre del producto">

										<input type="date" name="fechaCarga" placeholder="Fecha de Carga">	
										
										<input type="text" name="descripcion" placeholder="Descripción">

										<input type="text" name="color" placeholder="Color">

										<a style="color:white">Fotos del producto</a>
										<input type="file" name="imagenDeProducto" style="background-color: rgb(205 205 205);
										padding: 7.2px;">
	
										<button type="submit" title="Ingresar" name="Ingresar">Subir producto</button>
	
									</form>
								</div>
								<div class="inferior">
									<a href="/users/profile">Volver</a>
								</div>
							</div>
						</div>
					</h2>
				<!-- Formulario para agregar productos -->

				<!-- footer -->
				<%- include('./partials/footer.ejs') %> 
				<!-- /footer -->
			</div>
		</div>
	</body>
</html>