<!-- Include Head -->
<%- include('./partials/header.ejs') %> 

	<body>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Resultados de búsqueda</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> <br> No encontramos ningún resultado para su búsqueda, por favor lea bien nuestro catálogo de productos. Ante cualquier problema no dude en comunicarse con nosotros! <br></h2>


		<!-- footer -->
		<%- include('./partials/footer.ejs') %> 
		<!-- /footer -->
	</body>
	
</html>