<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fa fa-bitcoin"></i>
                    <h2>Aceptamos criptomonedas</h2>
                    <p>Con Movitech Cash, aceptamos todo tipo de criptomonedas como método de pago.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fa fa-bus"></i>
                    <h2>Nosotros nos ocupamos del envío</h2>
                    <p>Solo por estar registrado en Movitech tenés envíos gratis en miles de nuestros productos.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>A prueba de hackers</h2>
                    <p>Pagá con tarjeta con la confianza de estar asegurado al 100%</p>
                </article>
            </div>
            <a class="footer-inferior" >Copyright ReVibe 2022 ©. Todos los derechos reserados a Joaquín Mendívil, Mateo Hoffmann y Bruno Gonzalez.</a>  
        </div>      
    </div>
</footer>